<!DOCTYPE html>
<html lang="en">

<head>
    <title>Internship Entries</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Internship Data Entries</h1>
            <!-- <% for(var i=0; i < result.length; i++) { %>
            <li>
                <%= result[i].name %>
            </li>
            <% } %> -->

            <table class="table table-bordered table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Region</th>
                        <th scope="col">Zip Code</th>
                        <th scope="col">Institution</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < result.length; i++) { %>
                        <tr>
                            <th scope="row"><%= i+1 %></th>
                            <td>
                                <%= result[i].name %>
                            </td>
                            <td><%= result[i].date_of_birth %></td>
                            <td><a href="mailto:<%= result[i].email %>"><%= result[i].email %></a></td>
                            <td><%= result[i].phone %></td>
                            <td><%= result[i].address %></td>
                            <td><%= result[i].city %></td>
                            <td><%= result[i].region %></td>
                            <td><%= result[i].zip_code %></td>
                            <td><%= result[i].institution %></td>
                        </tr>
                </tbody>
                <% } %>
            </table>
</body>

</html>